:root {
  --btn-padding: .6rem;
  --btn-size: 1.5rem;
  --die-size: 5rem;
  --die-padding: 6%;
  --base-rotate: 12deg;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, sans-serif;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(#232323, #333333, #232323);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  display: flex;
  flex-direction: row;
}

.btn-wrapper button {
  display: flex;
  pointer-events: all;
  cursor: pointer;
  border: 0;
  color: #a6a6a6;
  background-color: transparent;
  box-sizing: content-box;
  padding: var(--btn-padding);
  padding-bottom: calc(var(--btn-padding) * 2);
}
  .btn-wrapper button:last-of-type {
    padding-right: calc(var(--btn-padding) * 2);
  }
  .btn-wrapper button svg {
    width: var(--btn-size);
    height: var(--btn-size);
  }
  .btn-wrapper button.disabled {
    color: #616161;
    cursor: default;
  }
  .btn-wrapper button:active:not(.disabled) {
    color: #e2e2e2;
  }

.dice-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  perspective: 2000px; /* this really "sells" the 3D effect */
  pointer-events: none;
  height: 80vh;
  width: 70vw;
  gap: 2rem;
  flex-wrap: wrap;
  align-content: center;
  max-width: calc((var(--die-size) * 4) + (4rem * 5));
  max-height: calc((var(--die-size) * 4) + (4rem * 5));
}

.die-wrapper {
  padding: 1rem;
  pointer-events: all;
}

.die {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: var(--die-size);
  list-style-type: none;
  transform-style: preserve-3d;
  width: var(--die-size);
}

.transform-wrapper {
  transform-style: preserve-3d;
  transform: rotate3d(1, -1, 0, var(--base-rotate));
  animation: .2s die-show linear;
  pointer-events: none;
}

.die-face {
  background-color: #fffef7;
  box-shadow: inset 0rem 0rem 0.6rem 0.3rem rgb(0 0 0 / 15%);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  padding: var(--die-padding);
  box-sizing: border-box;
  backface-visibility: hidden;
  animation: .2s die-face-show linear;
}

.die-face-hide {
  animation: .2s die-face-hide linear;
}

.die-face.reverse {
  background: #d14730;
}

.dot {
  display: block;
  height: 72%;
  width: 72%;
  align-self: center;
  justify-self: center;
  background-color: #333333;
  border-radius: 50%;
  box-shadow: inset 0 0 0.5rem 0 rgb(0 0 0 / 50%);
}

.face-1 {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(calc(0.5 * var(--die-size)));
}
.face-2 {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(calc(0.5 * var(--die-size)));
}
.face-3 {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(calc(0.5 * var(--die-size)));
}
.face-4 {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(calc(0.5 * var(--die-size)));
}
.face-5 {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(calc(0.5 * var(--die-size)));
}
.face-6 {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(calc(0.5 * var(--die-size)));
}

.face-1 .dot:nth-of-type(1) {
  grid-area: five;
}

.face-2 .dot:nth-of-type(1) {
  grid-area: one;
}
.face-2 .dot:nth-of-type(2) {
  grid-area: nine;
}

.face-3 .dot:nth-of-type(1) {
  grid-area: one;
}
.face-3 .dot:nth-of-type(2) {
  grid-area: five;
}
.face-3 .dot:nth-of-type(3) {
  grid-area: nine;
}

.face-4 .dot:nth-of-type(1) {
  grid-area: one;
}
.face-4 .dot:nth-of-type(2) {
  grid-area: three;
}
.face-4 .dot:nth-of-type(3) {
  grid-area: seven;
}
.face-4 .dot:nth-of-type(4) {
  grid-area: nine;
}

.face-5 .dot:nth-of-type(1) {
  grid-area: one;
}
.face-5 .dot:nth-of-type(2) {
  grid-area: three;
}
.face-5 .dot:nth-of-type(3) {
  grid-area: five;
}
.face-5 .dot:nth-of-type(4) {
  grid-area: seven;
}
.face-5 .dot:nth-of-type(5) {
  grid-area: nine;
}

.face-6 .dot:nth-of-type(1) {
  grid-area: one;
}
.face-6 .dot:nth-of-type(2) {
  grid-area: three;
}
.face-6 .dot:nth-of-type(3) {
  grid-area: four;
}
.face-6 .dot:nth-of-type(4) {
  grid-area: six;
}
.face-6 .dot:nth-of-type(5) {
  grid-area: seven;
}
.face-6 .dot:nth-of-type(6) {
  grid-area: nine;
}

@keyframes die-show {
    from {
      transform: translateZ(-20rem) rotate3d(1, -1, 0, var(--base-rotate));
    }
    to {
      transform: translateZ(0) rotate3d(1, -1, 0, var(--base-rotate));
    }
    80% {
      transform: translateZ(8rem) rotate3d(1, -1, 0, var(--base-rotate));
    }
}

@keyframes die-face-hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

@keyframes die-face-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
